<div class="user-info">
  <span style="margin-right: 8px;">{{username}}</span>
  <mat-icon aria-hidden="false" class="logout-icon-display" aria-label="logout" fontIcon="logout" (click)="logout()" style="margin-right:10px;"></mat-icon>
</div>
<mat-drawer-container class="example-container" hasBackdrop=true>

    <mat-drawer #drawer mode="side">
      
        <div class="nav-icons" style="display:flex;align-items:flex-end;justify-content: flex-start;">
          <mat-icon aria-hidden="false" class="icon-display" aria-label="add-group" fontIcon="my_library_add" (click)="createGroup()"></mat-icon>
          
          <mat-icon aria-hidden="false" class="icon-display" aria-label="stories" fontIcon="blur_circular" (click)="getStories()"></mat-icon>
        </div>  

        <mat-divider></mat-divider>
        <mat-list *ngIf="chatGroups.length > 0">  
        <a href="#" class="chat-group-item">  
          <mat-list-item *ngFor="let group of chatGroups; index as i" (click)="onChatGroupClick(group.id)">

                <img matListItemAvatar src={{group.avatarUrl}} alt="...">
                <h3 matListItemTitle>{{group.title}}</h3>
                <p matListItemLine>
                  <span style="opacity:0.8;">{{group.lastMessage}}</span>
                  <span style="opacity: 0.4;"> -- {{group.memberCount}} members</span>
                </p>
          
          </mat-list-item>
        </a>      
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <div>  
        <button style="display:block;" mat-flat-button (click)="drawer.toggle()"> Rooms ►</button>
        <div class="group-info" style="display: flex;background-color: black;" *ngIf="drawerContent != null">
          <img style="border-radius: 5px;" height="50" width="50" src="{{drawerContent?.avatarUrl}}">
          <h3 style="margin-left: 10px;">{{drawerContent?.title}}</h3>
        </div>
      </div>

      <mat-divider style="--mat-divider-width: 18px;"></mat-divider>
      <div class="messages-wrapper" *ngIf="drawerContent != null">
          <div class="messages-container col-md-8">
              <ul>
                <li *ngFor="let msg of messagesInGroup"> {{msg.text}} </li>
              </ul>
          </div>
      </div>
    </mat-drawer-content>

</mat-drawer-container>